#backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: var(--primary-foil);
    backdrop-filter: blur(8px);

    z-index: 100;
}

#backdrop .close-button {
    width: 40px;
    height: 40px;
    background-color: var(--primary-faded-1);
    border: 1px solid var(--primary-faded-2);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.2s;

}

#backdrop .close-button:hover {
    background-color: var(--primary-faded-2);
}





#backdrop .modal {
    position: relative;

    width: fit-content;
    height: fit-content;

    padding: 20px;

    background-color: var(--primary-faded-1);
    border: 1px solid var(--primary-faded-2);
    border-radius: 20px;
}

#backdrop .modal .create-attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#backdrop .modal .create-attributes form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

#backdrop .modal .create-attributes .input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#backdrop .modal .create-attributes input {
    width: 300px;
    height: 20px;

    padding: 10px;
    background-color: var(--primary-faded-1);
    border: 1px solid var(--primary-faded-2);
    border-radius: 10px;
    outline: none;
    color: var(--secondary);
}



#backdrop .modal .create-attributes .submit {

    width: 654px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--accent);
    border: 1px solid var(--primary-faded-1);
    border-radius: 10px;
    outline: none;
    color: var(--white);

    cursor: pointer;
    transition-duration: 0.2s;
}

#backdrop .modal .create-attributes .submit:disabled {
    background-color: var(--primary-faded-3);
    border: 1px solid var(--primary-faded-2);
    color: var(--primary);
    cursor: not-allowed;
    transition-duration: 0.2s;

}

#backdrop .modal .create-attributes .submit:not(:disabled):hover {
    background-color: var(--accent-faded-1);
}

#backdrop .modal .navbar-network-manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-align: center;
    color: var(--secondary);
}

#backdrop .modal .navbar-network-manager .default {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#backdrop .modal .navbar-network-manager .line {
    width: 300px;
    height: 1px;
    background-color: var(--primary-faded-3);
}

#backdrop .modal .navbar-network-manager .default .switch {
    position: relative;
    cursor: pointer;
}

#backdrop .modal .navbar-network-manager .default .switch.inactive .base {
    position: relative;

    width: 80px;
    height: 40px;

    background-color: var(--primary-faded-1);
    border: 1px solid var(--primary-faded-3);
    border-radius: 100px;

    transition-duration: 0.2s;
}

#backdrop .modal .navbar-network-manager .default .switch.inactive .handle {
    position: absolute;

    top: 4px;
    left: 4px;

    width: 30px;
    height: 30px;

    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-1);
    border-radius: 100px;

    transition-duration: 0.2s;
}

#backdrop .modal .navbar-network-manager .default .switch.active .base {
    position: relative;

    width: 80px;
    height: 40px;

    background-color: var(--accent);
    border: 1px solid var(--primary-faded-3);

    border-radius: 100px;

    transition-duration: 0.2s;

}

#backdrop .modal .navbar-network-manager .default .switch.active .handle {
    position: absolute;

    top: 4px;
    left: 44px;

    width: 30px;
    height: 30px;

    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 100px;

    transition-duration: 0.2s;

}

#backdrop .modal .navbar-network-manager .custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#backdrop .modal .navbar-network-manager .custom .form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#backdrop .modal .navbar-network-manager .custom .form input {
    width: 300px;
    height: 20px;

    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--primary-faded-3);
    border-radius: 10px;
    outline: none;

    color: var(--secondary);
}

#backdrop .modal .navbar-network-manager .custom .form .submit {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 10px;
    outline: none;

    color: var(--primary);
    cursor: pointer;
}

#backdrop .modal .navbar-network-manager .custom .form .submit:disabled {
    background-color: var(--primary-faded-3);
    border: 1px solid var(--primary-faded-2);
    color: var(--primary);
    cursor: not-allowed;
    transition-duration: 0.2s;

}