.navigation-container {
  position: fixed;
  bottom: 20px;
  left: 0;

  width: 100%;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  position: relative;

  width: fit-content;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: left;

  padding: 10px;

  background-color: var(--primary-faded-1);
  border: 1px solid var(--primary-faded-3);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  z-index: 100;
}

.navigation-button {
  width: 80px;
  height: 80px;

  margin-left: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-faded-2);
  border: 1px solid var(--primary-faded-3);
  border-radius: 5px;

  color: var(--primary);

  cursor: pointer;
}

.navigation-button:hover {
  background-color: var(--primary-faded-2);
  border: 1px solid var(--primary-faded-3);
  color: var(--accent);

  transition-duration: 0.2s;
}

.navigation-button:not(:hover) {
  transition-duration: 0.2s;
}


.navigation-button svg {
  height: 40px;
}

.navigation-button.logo {
  margin-left: 0;

  background-image: url("../../media/logo.png");
  /*background fills the shape*/
  background-size: cover;
  border-radius: 5px;
}

.navigation-button.logo:hover {
  scale: 0.95;

  transition-duration: 0.2s;
}

.navigation-button.logo:active {
  scale: 0.9;
}