.main .panel.create {
  width: fit-content;
  height: fit-content;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

  padding: 10px;
  background-color: var(--primary-faded-1);
  border: 1px solid var(--primary-faded-3);
  border-radius: 20px;

  backdrop-filter: blur(10px);
}

.main .panel.create .editor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.main .panel.create .editor .switch {
  width: 320px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.main .panel.create .editor .switch div {
  width: 33%;
  height: 40px;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--primary-faded-3);
  border-radius: 10px;

  cursor: pointer;
}

.main .panel.create .editor .switch .active {
  background-color: var(--primary-faded-3);
  color: var(--accent);
  font-weight: 600;
}

.main .panel.create .editor .switch div:hover {
  background-color: var(--primary-faded-3);
  transition-duration: 0.2s;
}

.main .panel.create .editor .switch div:not(:hover) {
  transition-duration: 0.2s;
}

.main .panel.create .editor .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.main .panel.create .editor .form input,
.main .panel.create .editor .form textarea {
  width: 300px;
  height: 20px;

  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--primary-faded-3);
  border-radius: 10px;
  outline: none;

  font-family: "satoshi";
  color: var(--secondary);
}

.main .panel.create .editor .form textarea {
  height: 80px;
  resize: none;
}

.main .panel.create .editor .form textarea::-webkit-scrollbar {
  display: none;
}

.main .panel.create .editor .attributes {
  width: 320px;
  height: 155px;
  border: 1px solid var(--primary-faded-3);
  border-radius: 10px;
}

.main .panel.create .editor .attributes-button {
  width: 320px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-faded-2);
  border: 1px solid var(--primary-faded-3);
  border-radius: 10px;
  outline: none;

  color: var(--secondary);

  cursor: pointer;
}

.main .panel.create .editor .attributes-button:hover {
  color: var(--accent);
}

.main .panel.create .editor .attributes-button:not(:hover) {

  transition-duration: 0.2s;
}

.main .panel.create .preview {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.main .panel.create .preview .content {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.main .panel.create .preview .content .image {
  width: 300px;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--primary-faded-3);
  border-radius: 10px;

  color: var(--secondary-faded-2);
  cursor: pointer;
}

.main .panel.create .preview .content .image:hover {
  background-color: var(--primary-faded-2);
  color: var(--accent);
}

#image-input {
  display: none;
}

.main .panel.create .preview .details {
  min-width: 300px;
  height: 380px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border: 1px solid var(--primary-faded-3);
  border-radius: 10px;
}

.main .panel.create .preview .details .item {

  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding-bottom: 10px;

}


.main .panel.create .preview .details .item .value {
  text-align: right;
}


.main .panel.create .preview .submit {
  width: 300px;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent);
  border: 1px solid var(--primary-faded-3);
  border-radius: 10px;
  color: var(--primary);

  cursor: pointer;
}

.main .panel.create .preview .submit:hover {
  background-color: var(--primary);
  color: var(--accent);
  transition-duration: 0.2s;
}

.main .panel.create .preview .submit:not(:hover) {
  transition-duration: 0.2s;
}

#backdrop .attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  max-width: 600px;
  max-height: 400px;

  flex-wrap: wrap;


  overflow: scroll;
}

#backdrop .attributes .attribute {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;

  padding: 5px 20px;
  border: 1px solid var(--primary-faded-3);
  border-radius: 50px;
  cursor: pointer;
}

#backdrop .attributes .attribute .line {
  width: 1px;
  height: 25px;
  background-color: var(--primary-faded-3);
}